<div class="side-bar-header">
  <div class="header-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="create-room">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="rooms">
  <div class="room">
    <div class="room-name">
      <a href="*">Oracle Redbull Racing</a>
    </div>
  </div>

  <div class="room">
    <div class="room-name">
      <a href="*">Visa Cashapp RacingBulls</a>
    </div>
  </div>

  <div class="room">
    <div class="room-name">
      <a href="*">MacLaren</a>
    </div>
  </div>

  <div class="room">
    <div class="room-name">
      <a href="*">Scuderia Ferrari</a>
    </div>
  </div>

  <div class="room">
    <div class="room-name">
      <a href="*">Mercedes-AMG Petronas</a>
    </div>
  </div>

  <div class="room">
    <div class="room-name">
      <a href="*">AstonMartin aramco </a>
    </div>
  </div>

  <div class="room">
    <div class="room-name">
      <a href="*">BWT Alpine</a>
    </div>
  </div>

  <div class="room">
    <div class="room-name">
      <a href="*">Atlassian Williams Racing</a>
    </div>
  </div>
</div>